@*http://bendetat.com/a-useful-build-pipeline-using-gulp-and-bower.html*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="sampleAngularApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


    <!-- Bootstrap Material Design -->
    @*<link href="~/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
        <link href="~/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">*@
    @*<link href="~/bower_components/angular-material/material.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- styles:css -->
    @*<link href="~/bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">*@
    <link rel="stylesheet" href="/.build/css/appStyles.min.css">
    @*<link rel="stylesheet" href="~/Views/Home/appStyles.css">*@

    <!-- endinject -->
    <!-- vendors:js -->

    <script src="/.build/vendors/vendors.js"></script>

    <!-- endinject -->
    <!-- domain:js -->
    <!-- endinject -->
    <!-- app:js -->
    @*<script src="/.build/spa/app.js"></script>*@

    <!-- endinject -->



    <script src="~/app/app.js"></script>
    <script src="~/app/route/routeConfig.js"></script>

    <script src="~/app/services/interceptors/xmlHttpInterceptorService.js"></script>
    <script src="~/app/services/interceptors/errorHandlerService.js"></script>


    @*<script src="~/app/factories/accounts/tokenHandlerFactory.js"></script>*@
    @*<script src="~/app/services/interceptors/xmlHttpInterceptor.js"></script>*@


    <script src="~/app/domain/common/IMessage.js"></script>
    <script src="~/app/domain/common/Message.js"></script>

    <script src="~/app/domain/IEntity.js"></script>
    <script src="~/app/domain/EntityBase.js"></script>
    <script src="~/app/domain/IAddress.js"></script>
    <script src="~/app/domain/Address.js"></script>
    <script src="~/app/domain/Customer.js"></script>

    <script src="~/app/domain/accounts/ILoginData.js"></script>
    <script src="~/app/domain/accounts/LoginData.js"></script>
    <script src="~/app/domain/accounts/IRegistrationData.js"></script>
    <script src="~/app/domain/accounts/registrationData.js"></script>

    <script src="~/app/services/common/constantsService.js"></script>
    <script src="~/app/services/common/dataService.js"></script>
    <script src="~/app/services/common/logservice.js"></script>



    @*<script src="~/app/services/interceptors/errorHandler.js"></script>*@

    <script src="~/app/services/accounts/storageHandler.js"></script>
    <script src="~/app/services/accounts/tokenHandlerService.js"></script>
    <script src="~/app/services/accounts/userAccountService.js"></script>

    <script src="~/app/controllers/global/globalCtrl.js"></script>

    <script src="~/app/controllers/accounts/loginCtrl.js"></script>
    <script src="~/app/controllers/accounts/registerUserCtrl.js"></script>

    <script src="~/app/controllers/customers/customersCtrl.js"></script>
    <script src="~/app/controllers/customers/customerModalCtrl.js"></script>

</head>

@*<body ng-controller="customersCtrl as vm">*@
<body ng-controller="globalCtrl as vm">
    <section class="row" ng-show="Global.isAuthenticated">
        <a ng-click="Global.logOut()" class="btn btn-lg btn-default pull-right"><span class="mdi-action-settings-power"></span></a>
    </section>

    <div id="wrap">
        @*<nav class="navbar navbar-default navbar-fixed-top " role="navigation">*@
        <div class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="#/">TypeScript Angular - SPA</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Home<i class="fa fa-info-circle fa-fw pull-right"></i></a></li>
                    <li><a href="#/about">About<i class="fa fa-info-circle fa-fw pull-right"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="loginData.isUserLoggedIn">
                    <li class="userinfo"><a href="#/">{{registrationData.username}}<i class="fa fa-user fa-fw"></i></a></li>
                </ul>
            </div>

            <div id="main" class="container body-content">
                <div class="row">
                    @*<div class="container-fluid">
                        <div class="bs-component">
                            <div class="input-group">
                                <span class="pull-left">
                                    <a class="btn btn-primary" ng-click="vm.add()">Add<span class="mdi-social-person-user"></span></a>
                                </span>
                                <span class="pull-left">
                                    <a class="btn btn-primary" ng-click="vm.refresh()">Refresh<span class="glyphicon glyphicon-refresh"></span></a>
                                </span>

                                <section class="col-md-4 pull-right">
                                    <input id="inputSearchCustomers" type="search" class="form-control input-sm" placeholder="search customers..." ng-model="search">

                                </section>
                                <span class="pull-right">
                                    <a class="btn btn-primary" ng-click="vm.search()">Search<span class="glyphicon glyphicon-search"></span></a>
                                </span>
                                <span class="pull-right">
                                    <a class="btn btn-primary" ng-click="vm.clearSearch()">Clear<span class="glyphicon glyphicon-remove-sign"></span></a>
                                </span>
                            </div>

                        </div>*@
                    </div>
                    @*</nav>*@
                    <section>
                        <ng-view>

                        </ng-view>
                        <hr />

                    </section>

                    @*<footer class="navbar-inverse navbar-fixed-bottom">*@
                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <h4 class="white">
                                    <i>ASP.NET, Web API, Entity Framework 6, AngularJS, Typescript & C#</i>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                &copy; JANUARY 2016 : Developed by D.Troughear
                            </div>
                            <div class="col-md-6 pull-right">
                                Check me out on
                                <a href="https://github.com/dtro-devuk" class="pull-right">
                                    <img src="~/Styles/Images/Octocat.png" style="vertical-align:top; margin-right:1em" width="30" height="30" border="0" alt="Check me out on GitHub">
                                </a>
                                @*<a href="https://www.linkedin.com/in/dave-troughear-a1959a14" class="pull-right">
                                    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png" style="vertical-align:top; margin-right:1em" width="256" height="58" border="0" alt="Check me out on LinkedIn">
                                </a>*@
                            </div>

                        </div>
                    </footer>
                    <br />
                </div>
            </div>
        </div>

        @*<script type="text/javascript">
                $(document).ready(function () {
                    $.material.init();
                });
            </script>*@
    </div>
</body>
</html>